# Project: DAM for Windows Tools
# File: .gitattributes
# Copyright (c) 2026 nnnnnnn0090. All rights reserved.
# Author: nnnnnnn0090
# SPDX-License-Identifier: GPL-3.0-or-later
# Created: 2026-08-22

* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ico binary
*.jpg binary
*.png binary
*.zip binary

*.dart text eol=lf
*.java text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
